anyio==3.6.1
appdirs==1.4.4
asgiref==3.5.2
audioread==2.1.9
autoscraper==1.1.14
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.4
cycler==0.11.0
decorator==5.1.1
dnspython==2.2.1
email-validator==1.2.1
face-recognition-models==0.3.0
fastapi==0.81.0
fonttools==4.33.3
h11==0.13.0
httptools==0.4.0
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.1.0
kaggle==1.5.12
kiwisolver==1.4.2
librosa==0.9.1
llvmlite==0.38.0
lxml==4.9.1
MarkupSafe==2.1.1
matplotlib==3.5.2
noisereduce==2.0.1
numba==0.55.1
numpy
opencv-python==4.6.0.66
orjson==3.8.0
packaging==21.3
pooch==1.6.0
pycparser==2.21
pydantic==1.10.1
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==0.20.0
python-multipart==0.0.5
python-slugify==6.1.2
PyYAML==6.0
requests==2.27.1
resampy==0.2.2
scikit-learn==1.1.0
scipy==1.8.0
six==1.16.0
sniffio==1.3.0
SoundFile==0.10.3.post1
soupsieve==2.3.2.post1
starlette==0.19.1
text-unidecode==1.3
threadpoolctl==3.1.0
tqdm==4.64.0
typing_extensions==4.3.0
ujson==5.4.0
urllib3==1.26.9
uvicorn==0.17.6
watchgod==0.8.2
websockets==10.3
